@charset "utf-8";
/* CSS Document */

.login h1 {
text-align:center;
}
.login h1 a {
background-image: url(image.png);
background-size: auto;
background-repeat: no-repeat;
height: 250px;

background-position: center top;
}